In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [46]:
csv_path = "Cleaned_Chronic_Disease_Data_4.csv"
csv_df = pd.read_csv(csv_path)
low_memory=False
csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,StratificationCategory1,Latitude,Longitude
0,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13.0,Overall,32.840571,-86.631861
1,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,Overall,64.845080,-147.722059
2,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,Overall,34.865970,-111.763811
3,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.0,Overall,34.748650,-92.274491
4,2016,2016,CA,California,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.3,Overall,37.638640,-121.000000

In [47]:
outcsv_df = csv_df[[(x == '%') for x in csv_df['DataValueUnit']]]

In [48]:
outcsv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,StratificationCategory1,Latitude,Longitude
0,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13.0,Overall,32.840571,-86.631861
1,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,Overall,64.845080,-147.722059
2,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,Overall,34.865970,-111.763811
3,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.0,Overall,34.748650,-92.274491
4,2016,2016,CA,California,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.3,Overall,37.638640,-121.000000

In [49]:
#output_csv = outcsv_df.to_csv("Cleaned_Chronic_Disease_Data4.csv", index=False, header=True)
outcsv_df2 = outcsv_df[[(x != 2009) for x in outcsv_df['YearStart']]]
outcsv_df2['YearStart'].unique()

array([2016, 2015, 2014, 2013, 2012, 2011, 2010], dtype=int64)

In [50]:
outcsv_df3 = outcsv_df2.groupby("YearStart")

In [51]:
outcsv_2010 = outcsv_df3.get_group(2010)
outcsv_2010.groupby("LocationAbbr")["DataValue"].sum()

LocationAbbr
AK    1173.4
AL    1351.2
AR    1290.1
AZ    1364.6
CA    1392.7
CO    1230.8
CT    1320.9
DC    1109.5
DE    1182.5
FL    1368.9
GA    1325.2
HI    1166.5
IA    1256.0
ID    1071.7
IL    1321.9
IN    1329.8
KS    1334.3
KY    1253.0
LA    1360.0
MA    1350.4
MD    1202.7
ME    1167.8
MI    1384.7
MN    1240.8
MO    1324.1
MS    1322.5
MT    1024.9
NC    1424.9
ND    1017.3
NE    1204.4
NH    1020.9
NJ    1334.3
NM    1261.9
NV    1236.0
NY    1367.4
OH    1377.8
OK    1376.1
OR    1288.7
PA    1364.9
PR     932.6
RI    1196.5
SC    1292.4
SD    1006.3
TN    1347.5
TX    1433.0
UT    1152.9
VA    1306.8
VI     133.2
VT    1019.6
WA    1350.2
WI    1309.8
WV    1092.8
WY    1024.7
Name: DataValue, dtype: float64

In [52]:
outcsv_2010_df = pd.DataFrame( outcsv_2010 )
outcsv_2010_df.reset_index()

,index,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,StratificationCategory1,Latitude,Longitude
0,109330,2010,2010,AK,Alaska,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,58.1,Overall,64.845080,-147.722059
1,109331,2010,2010,AL,Alabama,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,29.5,Overall,32.840571,-86.631861
2,109332,2010,2010,AR,Arkansas,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,24.2,Overall,34.748650,-92.274491
3,109333,2010,2010,AZ,Arizona,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,49.7,Overall,34.865970,-111.763811
4,109334,2010,2010,CA,California,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,71.3,Overall,37.638640,-121.000000
5,109335,2010,2010,CO,Colorado,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,56.5,Overall,38.843841,-106.133611
6,109336,2010,2010,CT,Connecticut,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,45.6,Overall,41.562661,-72.649841
7,109337,2010,2010,DC,District of Columbia,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,45.1,Overall,38.907192,-77.036871
8,109338,2010,2010,DE,Delaware,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,39.1,Overall,39.008831,-75.577741
9,109339,2010,2010,FL,Florida,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,40.9,Overall,28.932040,-81.928961
10,109340,2010,2010,GA,Georgia,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,31.8,Overall,32.839681,-83.627580
11,109341,2010,2010,HI,Hawaii,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,64.9,Overall,21.304850,-157.857749
12,109342,2010,2010,IA,Iowa,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,54.0,Overall,42.469401,-93.816491
13,109343,2010,2010,ID,Idaho,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,74.5,Overall,43.682630,-114.363730
14,109344,2010,2010,IL,Illinois,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,48.8,Overall,40.485010,-88.997710
15,109345,2010,2010,IN,Indiana,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,37.7,Overall,39.766910,-86.149960
16,109346,2010,2010,KS,Kansas,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,41.8,Overall,38.347740,-98.200781
17,109347,2010,2010,KY,Kentucky,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,32.5,Overall,37.645970,-84.774971
18,109348,2010,2010,LA,Louisiana,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,31.3,Overall,31.312661,-92.445680
19,109349,2010,2010,MA,Massachusetts,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,62.4,Overall,42.276870,-72.082691
20,109350,2010,2010,MD,Maryland,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,52.0,Overall,39.290581,-76.609260
21,109351,2010,2010,ME,Maine,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,48.9,Overall,45.254229,-68.985031
22,109352,2010,2010,MI,Michigan,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,45.1,Overall,44.661320,-84.714390
23,109353,2010,2010,MN,Minnesota,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,49.1,Overall,46.355649,-94.794201
24,109354,2010,2010,MO,Missouri,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,39.3,Overall,38.635791,-92.566300
25,109355,2010,2010,MS,Mississippi,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,19.7,Overall,32.745510,-89.538031
26,109356,2010,2010,MT,Montana,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,59.3,Overall,47.066529,-109.424421
27,109357,2010,2010,NC,North Carolina,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,48.5,Overall,35.466221,-79.159250
28,109358,2010,2010,ND,North Dakota,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,44.6,Overall,47.475320,-100.118421
29,109359,2010,2010,NE,Nebraska,"Nutrition, Physical Activity, and Weight Status",Infants breastfed at 6 months,%,53.8,Overall,41.641041,-99.365721
...,...,...,...,...,...,...,...,...,...,...,...,...
1332,123322,2010,2010,MI,Michigan,Overarching Conditions,High school completion among adults aged 18-24...,%,87.3,Gender,44.661320,-84.714390
1333,123323,2010,2010,MN,Minnesota,Overarching Conditions,High school completion among adults aged 18-24...,%,89.6,Gender,46.355649,-94.794201
1334,123324,2010,2010,MO,Missouri,Overarching Conditions,High school completion among adults aged 18-24...,%,86.8,Gender,38.635791,-92.566300
1335,123325,2010,2010,MS,Mississippi,Overarching Conditions,High school completion among adults aged 18-24...,%,84.5,Gender,32.745510,-89.538031
1336,123326,2010,2010,MT,Montana,Overarching Conditions,High school completion among adults aged 18-24...,%,84.4,Gender,47.066529,-109.424421
1337,123327,2010,2010,NC,North Carolina,Overarching Conditions,High school completion among adults aged 18-24...,%,85.5,Gender,35.466221,-79.159250
1338,123328,2010,2010,ND,North Dakota,Overarching Conditions,High school completion among adults aged 18-24...,%,93.4,Gender,47.475320,-100.118421
1339,123329,2010,2010,NE,Nebraska,Overarching Conditions,High school completion among adults aged 18-24...,%,88.7,Gender,41.641041,-99.365721
1340,123330,2010,2010,NH,New Hampshire,Overarching Conditions,High school completion among adults aged 18-24...,%,88.6,Gender,43.655950,-71.500361
1341,123331,2010,2010,NJ,New Jersey,Overarching Conditions,High school completion among adults aged 18-24...,%,89.0,Gender,40.130570,-74.273691
1342,123332,2010,2010,NM,New Mexico,Overarching Conditions,High school completion among adults aged 18-24...,%,81.1,Gender,34.520881,-106.240581
1343,123333,2010,2010,NV,Nevada,Overarching Conditions,High school completion among adults aged 18-24...,%,81.8,Gender,39.493240,-117.071841
1344,123334,2010,2010,NY,New York,Overarching Conditions,High school completion among adults aged 18-24...,%,87.8,Gender,42.827001,-75.543970
1345,123335,2010,2010,OH,Ohio,Overarching Conditions,High school completion among adults aged 18-24...,%,85.8,Gender,40.060210,-82.404260
1346,123336,2010,2010,OK,Oklahoma,Overarching Conditions,High school completion among adults aged 18-24...,%,84.6,Gender,35.472031,-97.521070
1347,123337,2010,2010,OR,Oregon,Overarching Conditions,High school completion among adults aged 18-24...,%,85.6,Gender,44.567449,-120.155031
1348,123338,2010,2010,PA,Pennsylvania,Overarching Conditions,High school completion among adults aged 18-24...,%,88.5,Gender,40.793730,-77.860700
1349,123339,2010,2010,PR,Puerto Rico,Overarching Conditions,High school completion among adults aged 18-24...,%,86.8,Gender,18.220833,-66.590149
1350,123340,2010,2010,RI,Rhode Island,Overarching Conditions,High school completion among adults aged 18-24...,%,90.3,Gender,41.708280,-71.522470
1351,123341,2010,2010,SC,South Carolina,Overarching Conditions,High school completion among adults aged 18-24...,%,83.3,Gender,33.998821,-81.045371
1352,123342,2010,2010,SD,South Dakota,Overarching Conditions,High school completion among adults aged 18-24...,%,84.5,Gender,44.353130,-100.373531
1353,123343,2010,2010,TN,Tennessee,Overarching Conditions,High school completion among adults aged 18-24...,%,86.3,Gender,35.680941,-85.774491
1354,123344,2010,2010,TX,Texas,Overarching Conditions,High school completion among adults aged 18-24...,%,83.1,Gender,31.827240,-99.426770
1355,123345,2010,2010,UT,Utah,Overarching Conditions,High school completion among adults aged 18-24...,%,87.8,Gender,39.360700,-111.587131
1356,123346,2010,2010,VA,Virginia,Overarching Conditions,High school completion among adults aged 18-24...,%,89.5,Gender,37.542681,-78.457890
1357,123347,2010,2010,VT,Vermont,Overarching Conditions,High school completion among adults aged 18-24...,%,94.2,Gender,43.625381,-72.517641
1358,123348,2010,2010,WA,Washington,Overarching Conditions,High school completion among adults aged 18-24...,%,85.4,Gender,47.522279,-120.470011
1359,123349,2010,2010,WI,Wisconsin,Overarching Conditions,High school completion among adults aged 18-24...,%,89.4,Gender,44.393191,-89.816371
1360,123350,2010,2010,WV,West Virginia,Overarching Conditions,High school completion among adults aged 18-24...,%,84.1,Gender,38.665510,-80.712640
1361,123351,2010,2010,WY,Wyoming,Overarching Conditions,High school completion among adults aged 18-24...,%,85.7,Gender,43.235541,-108.109830

In [53]:
outcsv_2010_df_disability = outcsv_2010_df[[(x == 'Disability') for x in outcsv_2010_df['Topic']]]
#outcsv_df[[(x != 2009) for x in outcsv_df['YearStart']]]
outcsv_2010_df_disability.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,StratificationCategory1,Latitude,Longitude
111186,2010,2010,AK,Alaska,Disability,Disability among adults aged >= 65 years,%,38.6,Gender,64.84508,-147.722059
111187,2010,2010,AK,Alaska,Disability,Disability among adults aged >= 65 years,%,39.8,Gender,64.84508,-147.722059
111188,2010,2010,AK,Alaska,Disability,Disability among adults aged >= 65 years,%,39.2,Overall,64.84508,-147.722059
111189,2010,2010,AK,Alaska,Disability,Disability among adults aged >= 65 years,%,35.5,Race/Ethnicity,64.84508,-147.722059
111190,2010,2010,AK,Alaska,Disability,Disability among adults aged >= 65 years,%,65.4,Race/Ethnicity,64.84508,-147.722059

In [54]:
outcsv_2010_df_disability2 = outcsv_2010_df_disability[[(x == 'Overall') for x in outcsv_2010_df_disability['StratificationCategory1']]]

In [55]:
outcsv_2010_df_disability2['StratificationCategory1'].unique()

array(['Overall'], dtype=object)

In [56]:
outcsv_2010_df_disability2['Topic'].unique()

array(['Disability'], dtype=object)

In [57]:
outcsv_2010_df_disability2.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,StratificationCategory1,Latitude,Longitude
111188,2010,2010,AK,Alaska,Disability,Disability among adults aged >= 65 years,%,39.2,Overall,64.845080,-147.722059
111194,2010,2010,AL,Alabama,Disability,Disability among adults aged >= 65 years,%,44.1,Overall,32.840571,-86.631861
111200,2010,2010,AR,Arkansas,Disability,Disability among adults aged >= 65 years,%,42.7,Overall,34.748650,-92.274491
111206,2010,2010,AZ,Arizona,Disability,Disability among adults aged >= 65 years,%,32.8,Overall,34.865970,-111.763811
111214,2010,2010,CA,California,Disability,Disability among adults aged >= 65 years,%,36.8,Overall,37.638640,-121.000000

In [61]:
xlabels = outcsv_2010_df_disability2['LocationDesc']
xlabels

111188                  Alaska
111194                 Alabama
111200                Arkansas
111206                 Arizona
111214              California
111222                Colorado
111229             Connecticut
111236    District of Columbia
111242                Delaware
111248                 Florida
111255                 Georgia
111262                  Hawaii
111268                    Iowa
111274                   Idaho
111279                Illinois
111286                 Indiana
111293                  Kansas
111300                Kentucky
111306               Louisiana
111313           Massachusetts
111320                Maryland
111327                   Maine
111332                Michigan
111339               Minnesota
111346                Missouri
111353             Mississippi
111359                 Montana
111364          North Carolina
111372            North Dakota
111376                Nebraska
111382           New Hampshire
111387              New Jersey
111394              New Mexico
111400                  Nevada
111407                New York
111414                    Ohio
111421                Oklahoma
111428                  Oregon
111435            Pennsylvania
111442             Puerto Rico
111447            Rhode Island
111452          South Carolina
111458            South Dakota
111463               Tennessee
111470                   Texas
111478                    Utah
111483                Virginia
111490                 Vermont
111494              Washington
111502               Wisconsin
111509           West Virginia
111513                 Wyoming
Name: LocationDesc, dtype: object

In [59]:
#outcsv_2010_df_disability2.set_index("LocationDesc", drop=True, inplace=True )
#outcsv_2010_df_disability2.head()

In [1]:
x_axis = np.arange(0, (len(outcsv_2010_df_disability2["LocationDesc"])))
plt.title("Density of Disability in States (2010)")
plt.xlabel("State Name")
plt.ylabel("Disability Percentage")
plt.xlim(-0.75, len(outcsv_2010_df_disability2["LocationDesc"]) -.25)
plt.ylim(0, max(outcsv_2010_df_disability2["DataValue"]) + 5)
plt.bar(x_axis, outcsv_2010_df_disability2["DataValue"], facecolor="red", alpha=0.75, align="center")
plt.xticks(x_axis, outcsv_2010_df_disability2["LocationDesc"], rotation = 90)
#plt.figure(figsize=(50,10))
#plt.rcParams['xtick.major.pad']='20'
#plt.set_size_inches(18.5, 10.5)
plt.tight_layout()
plt.savefig('test.png', dpi=400)
plt.show()

NameError: name 'np' is not defined