In [1]:
import pandas as pd
import gmaps
from config import gkey
import matplotlib.pyplot as plt

gmaps.configure(api_key=gkey)

In [2]:
csv_path = ("Cleaned_GDP_Data.csv")

csv_df = pd.read_csv(csv_path)
csv_df.head()

        State   2013   2014   2015   2016   2017   Latitude   Longitude
0     Alabama  36674  36473  36818  37158  37508  32.840571  -86.631861
1      Alaska  69711  67179  65971  63304  63610  64.845080 -147.722059
2     Arizona  38352  38534  38787  38940  39583  34.865970 -111.763811
3    Arkansas  35888  36265  36295  36502  36714  34.748650  -92.274491
4  California  53838  55571  57637  58974  60359  34.748650  -92.274491

In [3]:
locations = csv_df[["Latitude", "Longitude"]]
rating = csv_df["2017"].astype("float")

In [4]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=rating, point_radius=32)
fig.add_layer(heat_layer)

In [5]:
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
plt.savefig("GMAP_GDP_Across_States.png")