In [119]:
import pandas as pd

In [120]:
csv_path = ("Cleaned_Chronic_Disease_Data2.csv")

csv_df = pd.read_csv(csv_path)
csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,Latitude,Longitude
0,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13.0,32.840571,-86.631861
1,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,64.845080,-147.722059
2,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,34.865970,-111.763811
3,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.0,34.748650,-92.274491
4,2016,2016,CA,California,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.3,37.638640,-121.000000

In [121]:
csv_df["DataValueUnit"].value_counts

<bound method IndexOpsMixin.value_counts of 0         %
1         %
2         %
3         %
4         %
5         %
6         %
7         %
8         %
9         %
10        %
11        %
12        %
13        %
14        %
15        %
16        %
17        %
18        %
19        %
20        %
21        %
22        %
23        %
24        %
25        %
26        %
27        %
28        %
29        %
         ..
226490    %
226491    %
226492    %
226493    %
226494    %
226495    %
226496    %
226497    %
226498    %
226499    %
226500    %
226501    %
226502    %
226503    %
226504    %
226505    %
226506    %
226507    %
226508    %
226509    %
226510    %
226511    %
226512    %
226513    %
226514    %
226515    %
226516    %
226517    %
226518    %
226519    %
Name: DataValueUnit, Length: 226520, dtype: object>

In [122]:
#Drop duplicates to confirm there are no multiples by 'YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Topic', 'DataValue'
csv_df.drop_duplicates(subset=['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Topic', 'DataValue' ], keep="first")

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,Latitude,Longitude
0,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13.0,32.840571,-86.631861
1,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,64.845080,-147.722059
2,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,34.865970,-111.763811
3,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.0,34.748650,-92.274491
4,2016,2016,CA,California,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.3,37.638640,-121.000000
5,2016,2016,CO,Colorado,Alcohol,Binge drinking prevalence among adults aged >=...,%,19.0,38.843841,-106.133611
6,2016,2016,CT,Connecticut,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.7,41.562661,-72.649841
7,2016,2016,DE,Delaware,Alcohol,Binge drinking prevalence among adults aged >=...,%,17.0,39.008831,-75.577741
8,2016,2016,DC,District of Columbia,Alcohol,Binge drinking prevalence among adults aged >=...,%,25.6,38.907192,-77.036871
9,2016,2016,FL,Florida,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.5,28.932040,-81.928961
10,2016,2016,GA,Georgia,Alcohol,Binge drinking prevalence among adults aged >=...,%,13.3,32.839681,-83.627580
11,2016,2016,HI,Hawaii,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.6,21.304850,-157.857749
12,2016,2016,ID,Idaho,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.1,43.682630,-114.363730
13,2016,2016,IL,Illinois,Alcohol,Binge drinking prevalence among adults aged >=...,%,19.9,40.485010,-88.997710
14,2016,2016,IN,Indiana,Alcohol,Binge drinking prevalence among adults aged >=...,%,17.5,39.766910,-86.149960
15,2016,2016,IA,Iowa,Alcohol,Binge drinking prevalence among adults aged >=...,%,21.2,42.469401,-93.816491
16,2016,2016,KS,Kansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.0,38.347740,-98.200781
17,2016,2016,KY,Kentucky,Alcohol,Binge drinking prevalence among adults aged >=...,%,14.6,37.645970,-84.774971
18,2016,2016,LA,Louisiana,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.9,31.312661,-92.445680
19,2016,2016,ME,Maine,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.3,45.254229,-68.985031
20,2016,2016,MD,Maryland,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.3,39.290581,-76.609260
21,2016,2016,MA,Massachusetts,Alcohol,Binge drinking prevalence among adults aged >=...,%,17.8,42.276870,-72.082691
22,2016,2016,MI,Michigan,Alcohol,Binge drinking prevalence among adults aged >=...,%,19.0,44.661320,-84.714390
23,2016,2016,MN,Minnesota,Alcohol,Binge drinking prevalence among adults aged >=...,%,21.3,46.355649,-94.794201
24,2016,2016,MS,Mississippi,Alcohol,Binge drinking prevalence among adults aged >=...,%,12.3,32.745510,-89.538031
25,2016,2016,MO,Missouri,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.4,38.635791,-92.566300
26,2016,2016,MT,Montana,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.9,47.066529,-109.424421
27,2016,2016,NE,Nebraska,Alcohol,Binge drinking prevalence among adults aged >=...,%,20.0,41.641041,-99.365721
28,2016,2016,NV,Nevada,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.8,39.493240,-117.071841
29,2016,2016,NH,New Hampshire,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.0,43.655950,-71.500361
...,...,...,...,...,...,...,...,...,...,...
226490,2010,2010,MI,Michigan,Overarching Conditions,High school completion among adults aged 18-24...,%,87.3,44.661320,-84.714390
226491,2010,2010,MN,Minnesota,Overarching Conditions,High school completion among adults aged 18-24...,%,89.6,46.355649,-94.794201
226492,2010,2010,MO,Missouri,Overarching Conditions,High school completion among adults aged 18-24...,%,86.8,38.635791,-92.566300
226493,2010,2010,MS,Mississippi,Overarching Conditions,High school completion among adults aged 18-24...,%,84.5,32.745510,-89.538031
226494,2010,2010,MT,Montana,Overarching Conditions,High school completion among adults aged 18-24...,%,84.4,47.066529,-109.424421
226495,2010,2010,NC,North Carolina,Overarching Conditions,High school completion among adults aged 18-24...,%,85.5,35.466221,-79.159250
226496,2010,2010,ND,North Dakota,Overarching Conditions,High school completion among adults aged 18-24...,%,93.4,47.475320,-100.118421
226497,2010,2010,NE,Nebraska,Overarching Conditions,High school completion among adults aged 18-24...,%,88.7,41.641041,-99.365721
226498,2010,2010,NH,New Hampshire,Overarching Conditions,High school completion among adults aged 18-24...,%,88.6,43.655950,-71.500361
226499,2010,2010,NJ,New Jersey,Overarching Conditions,High school completion among adults aged 18-24...,%,89.0,40.130570,-74.273691
226500,2010,2010,NM,New Mexico,Overarching Conditions,High school completion among adults aged 18-24...,%,81.1,34.520881,-106.240581
226501,2010,2010,NV,Nevada,Overarching Conditions,High school completion among adults aged 18-24...,%,81.8,39.493240,-117.071841
226502,2010,2010,NY,New York,Overarching Conditions,High school completion among adults aged 18-24...,%,87.8,42.827001,-75.543970
226503,2010,2010,OH,Ohio,Overarching Conditions,High school completion among adults aged 18-24...,%,85.8,40.060210,-82.404260
226504,2010,2010,OK,Oklahoma,Overarching Conditions,High school completion among adults aged 18-24...,%,84.6,35.472031,-97.521070
226505,2010,2010,OR,Oregon,Overarching Conditions,High school completion among adults aged 18-24...,%,85.6,44.567449,-120.155031
226506,2010,2010,PA,Pennsylvania,Overarching Conditions,High school completion among adults aged 18-24...,%,88.5,40.793730,-77.860700
226507,2010,2010,PR,Puerto Rico,Overarching Conditions,High school completion among adults aged 18-24...,%,86.8,18.220833,-66.590149
226508,2010,2010,RI,Rhode Island,Overarching Conditions,High school completion among adults aged 18-24...,%,90.3,41.708280,-71.522470
226509,2010,2010,SC,South Carolina,Overarching Conditions,High school completion among adults aged 18-24...,%,83.3,33.998821,-81.045371
226510,2010,2010,SD,South Dakota,Overarching Conditions,High school completion among adults aged 18-24...,%,84.5,44.353130,-100.373531
226511,2010,2010,TN,Tennessee,Overarching Conditions,High school completion among adults aged 18-24...,%,86.3,35.680941,-85.774491
226512,2010,2010,TX,Texas,Overarching Conditions,High school completion among adults aged 18-24...,%,83.1,31.827240,-99.426770
226513,2010,2010,UT,Utah,Overarching Conditions,High school completion among adults aged 18-24...,%,87.8,39.360700,-111.587131
226514,2010,2010,VA,Virginia,Overarching Conditions,High school completion among adults aged 18-24...,%,89.5,37.542681,-78.457890
226515,2010,2010,VT,Vermont,Overarching Conditions,High school completion among adults aged 18-24...,%,94.2,43.625381,-72.517641
226516,2010,2010,WA,Washington,Overarching Conditions,High school completion among adults aged 18-24...,%,85.4,47.522279,-120.470011
226517,2010,2010,WI,Wisconsin,Overarching Conditions,High school completion among adults aged 18-24...,%,89.4,44.393191,-89.816371
226518,2010,2010,WV,West Virginia,Overarching Conditions,High school completion among adults aged 18-24...,%,84.1,38.665510,-80.712640
226519,2010,2010,WY,Wyoming,Overarching Conditions,High school completion among adults aged 18-24...,%,85.7,43.235541,-108.109830

In [123]:
# csv_df.count

In [124]:
csv_df["LocationAbbr"].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'GU', 'PR', 'VI'],
      dtype=object)

In [125]:
# csv_df.head()

In [126]:
# csv_df.duplicated()

In [127]:
grouped_by_abbreviation = csv_df.groupby("LocationAbbr")

In [128]:
AK = grouped_by_abbreviation.get_group("AK")

AK.groupby("YearStart")["DataValue"].sum()

YearStart
2007       13.00
2010     1178.19
2011    23335.08
2012    26928.20
2013    30251.67
2014    27019.00
2015    24791.70
2016    22416.50
Name: DataValue, dtype: float64

In [129]:
AL = grouped_by_abbreviation.get_group("AL")

AL.groupby("YearStart")["DataValue"].sum()

YearStart
2007       23.00
2010     1355.70
2011    30767.04
2012    31098.80
2013    33198.35
2014    29047.50
2015    32142.40
2016    30677.20
Name: DataValue, dtype: float64

In [130]:
AZ = grouped_by_abbreviation.get_group("AZ")

AZ.groupby("YearStart")["DataValue"].mean()

YearStart
2007    18.000000
2010    44.155484
2011    41.113392
2012    38.577372
2013    40.850708
2014    40.730342
2015    39.703585
2016    38.209318
Name: DataValue, dtype: float64

In [131]:
AR = grouped_by_abbreviation.get_group("AR")

AR.groupby("YearStart")["DataValue"].sum()

YearStart
2007       18.00
2009      216.50
2010     1293.39
2011    27786.56
2012    29112.60
2013    32448.11
2014    28474.30
2015    29233.00
2016    25848.10
Name: DataValue, dtype: float64

In [132]:
CA = grouped_by_abbreviation.get_group("CA")

CA.groupby("YearStart")["DataValue"].sum()

YearStart
2007       24.00
2010     1396.83
2011    31456.12
2012    30869.60
2013    30150.90
2014    29350.00
2015    33697.40
2016    28941.40
Name: DataValue, dtype: float64

In [133]:
CO = grouped_by_abbreviation.get_group("CO")

CO.groupby("YearStart")["DataValue"].sum()

YearStart
2007       18.00
2009      143.20
2010     1235.30
2011    26727.49
2012    29106.30
2013    31520.10
2014    30385.30
2015    33264.90
2016    28557.60
Name: DataValue, dtype: float64

In [134]:
CT = grouped_by_abbreviation.get_group("CT")

CT.groupby("YearStart")["DataValue"].sum()

YearStart
2007       12.00
2010     1326.23
2011    28173.17
2012    31312.00
2013    31835.41
2014    31301.10
2015    34079.60
2016    27573.30
Name: DataValue, dtype: float64

In [135]:
DE = grouped_by_abbreviation.get_group("DE")

DE.groupby("YearStart")["DataValue"].sum()

YearStart
2007       13.00
2010     1187.21
2011    27290.97
2012    29515.10
2013    32317.86
2014    31287.00
2015    29578.00
2016    27766.90
Name: DataValue, dtype: float64

In [136]:
DC = grouped_by_abbreviation.get_group("DC")

DC.groupby("YearStart")["DataValue"].sum()

YearStart
2007       18.00
2010     1112.98
2011    27290.59
2012    24054.50
2013    30045.66
2014    27055.40
2015    28252.50
2016    24677.60
Name: DataValue, dtype: float64

In [137]:
FL = grouped_by_abbreviation.get_group("FL")

FL.groupby("YearStart")["DataValue"].sum()

YearStart
2007       25.00
2010     1373.97
2011    32011.15
2012    27762.50
2013    42492.29
2014    31847.20
2015    32407.80
2016    34661.20
Name: DataValue, dtype: float64

In [138]:
GA = grouped_by_abbreviation.get_group("GA")

GA.groupby("YearStart")["DataValue"].sum()

YearStart
2007       30.00
2009      212.10
2010     1328.92
2011    30001.67
2012    29954.10
2013    35099.95
2014    29740.40
2015    32493.90
2016    27418.60
Name: DataValue, dtype: float64

In [139]:
HI = grouped_by_abbreviation.get_group("HI")

HI.groupby("YearStart")["DataValue"].sum()

YearStart
2007       12.00
2009      248.00
2010     1174.90
2011    31186.99
2012    32302.80
2013    36775.97
2014    31197.80
2015    36593.60
2016    29925.70
Name: DataValue, dtype: float64

In [140]:
ID = grouped_by_abbreviation.get_group("ID")

ID.groupby("YearStart")["DataValue"].sum()

YearStart
2007       23.00
2010     1076.69
2011    21796.61
2012    23350.70
2013    24298.23
2014    22011.50
2015    23271.70
2016    21433.10
Name: DataValue, dtype: float64

In [141]:
IA = grouped_by_abbreviation.get_group("IA")

IA.groupby("YearStart")["DataValue"].sum()

YearStart
2007       25.00
2010     1262.38
2011    25489.77
2012    25298.00
2013    27818.10
2014    27807.10
2015    26714.50
2016    23779.10
Name: DataValue, dtype: float64

In [142]:
IN = grouped_by_abbreviation.get_group("IN")

IN.groupby("YearStart")["DataValue"].sum()

YearStart
2007       17.00
2010     1335.82
2011    29514.36
2012    28543.20
2013    32912.40
2014    30669.80
2015    30084.20
2016    27569.10
Name: DataValue, dtype: float64

In [143]:
IA = grouped_by_abbreviation.get_group("IA")

IA.groupby("YearStart")["DataValue"].sum()

YearStart
2007       25.00
2010     1262.38
2011    25489.77
2012    25298.00
2013    27818.10
2014    27807.10
2015    26714.50
2016    23779.10
Name: DataValue, dtype: float64

In [144]:
KS = grouped_by_abbreviation.get_group("KS")

KS.groupby("YearStart")["DataValue"].sum()

YearStart
2007       19.00
2010     1339.38
2011    32569.87
2012    33332.00
2013    35740.48
2014    30050.40
2015    37919.60
2016    27488.40
Name: DataValue, dtype: float64

In [145]:
KY = grouped_by_abbreviation.get_group("KY")

KY.groupby("YearStart")["DataValue"].sum()

YearStart
2007       21.00
2010     1258.26
2011    34102.83
2012    33326.60
2013    34990.68
2014    30887.10
2015    33570.50
2016    30696.20
Name: DataValue, dtype: float64

In [146]:
LA = grouped_by_abbreviation.get_group("LA")

LA.groupby("YearStart")["DataValue"].sum()

YearStart
2007       20.00
2010     1362.29
2011    31850.56
2012    27825.50
2013    31281.67
2014    30927.40
2015    31426.90
2016    28918.30
Name: DataValue, dtype: float64

In [147]:
ME = grouped_by_abbreviation.get_group("ME")

ME.groupby("YearStart")["DataValue"].sum()

YearStart
2007        9.00
2009      153.10
2010     1174.30
2011    27788.27
2012    26500.20
2013    27908.44
2014    26463.80
2015    25379.70
2016    23258.30
Name: DataValue, dtype: float64

In [148]:
MD = grouped_by_abbreviation.get_group("MD")

MD.groupby("YearStart")["DataValue"].sum()

YearStart
2007       15.00
2009      153.40
2010     1208.18
2011    26392.94
2012    29712.90
2013    33140.72
2014    30624.80
2015    33236.30
2016    30175.70
Name: DataValue, dtype: float64

In [149]:
MA = grouped_by_abbreviation.get_group("MA")

MA.groupby("YearStart")["DataValue"].sum()

YearStart
2007       13.00
2010     1356.19
2011    35202.28
2012    33605.10
2013    38178.78
2014    33281.40
2015    30111.30
2016    29999.90
Name: DataValue, dtype: float64

In [150]:
MI = grouped_by_abbreviation.get_group("MI")

MI.groupby("YearStart")["DataValue"].sum()

YearStart
2007        9.00
2009      240.40
2010     1389.78
2011    32736.52
2012    33491.90
2013    33252.91
2014    29573.20
2015    34614.70
2016    31245.50
Name: DataValue, dtype: float64

In [151]:
MN = grouped_by_abbreviation.get_group("MN")

MN.groupby("YearStart")["DataValue"].sum()

YearStart
2007       10.00
2009      257.70
2010     1246.77
2011    28560.38
2012    30787.30
2013    33627.50
2014    29101.40
2015    31844.80
2016    28880.90
Name: DataValue, dtype: float64

In [152]:
MS = grouped_by_abbreviation.get_group("MS")

MS.groupby("YearStart")["DataValue"].sum()

YearStart
2007       25.00
2010     1326.09
2011    26837.11
2012    28805.90
2013    29866.41
2014    27041.60
2015    27170.70
2016    27193.90
Name: DataValue, dtype: float64

In [153]:
MO = grouped_by_abbreviation.get_group("MO")

MO.groupby("YearStart")["DataValue"].sum()

YearStart
2007       30.00
2009      231.90
2010     1329.83
2011    29462.50
2012    28820.20
2013    33354.85
2014    28700.40
2015    30722.70
2016    27516.40
Name: DataValue, dtype: float64

In [154]:
MT = grouped_by_abbreviation.get_group("MT")

MT.groupby("YearStart")["DataValue"].sum()

YearStart
2007       12.00
2010     1028.71
2011    28947.18
2012    26406.70
2013    31231.93
2014    26181.70
2015    30221.20
2016    25655.20
Name: DataValue, dtype: float64

In [155]:
NE = grouped_by_abbreviation.get_group("NE")

NE.groupby("YearStart")["DataValue"].sum()

YearStart
2007       20.00
2009      152.80
2010     1210.07
2011    32056.70
2012    32473.00
2013    33155.75
2014    32726.00
2015    32856.40
2016    27348.50
Name: DataValue, dtype: float64

In [156]:
NV = grouped_by_abbreviation.get_group("NV")

NV.groupby("YearStart")["DataValue"].sum()

YearStart
2007       19.00
2010     1241.21
2011    24252.65
2012    28682.60
2013    30512.08
2014    24399.10
2015    27129.40
2016    23811.00
Name: DataValue, dtype: float64

In [157]:
NH = grouped_by_abbreviation.get_group("NH")

NH.groupby("YearStart")["DataValue"].sum()

YearStart
2007       11.00
2010     1026.62
2011    23345.01
2012    22658.70
2013    24416.08
2014    23288.30
2015    27396.10
2016    22090.60
Name: DataValue, dtype: float64

In [158]:
NJ = grouped_by_abbreviation.get_group("NJ")

NJ.groupby("YearStart")["DataValue"].sum()

YearStart
2007       12.00
2009      237.70
2010     1340.08
2011    31548.16
2012    33430.20
2013    34819.16
2014    34385.60
2015    35692.70
2016    30448.10
Name: DataValue, dtype: float64

In [159]:
NM = grouped_by_abbreviation.get_group("NM")

NM.groupby("YearStart")["DataValue"].sum()

YearStart
2007       23.00
2009      139.60
2010     1265.99
2011    30997.29
2012    31784.00
2013    35070.72
2014    32483.00
2015    33101.10
2016    26514.60
Name: DataValue, dtype: float64

In [160]:
NY = grouped_by_abbreviation.get_group("NY")

NY.groupby("YearStart")["DataValue"].sum()

YearStart
2007       15.00
2009      155.00
2010     1372.94
2011    27044.51
2012    26619.30
2013    29654.98
2014    29567.80
2015    36299.50
2016    34161.30
Name: DataValue, dtype: float64

In [161]:
NC = grouped_by_abbreviation.get_group("NC")

NC.groupby("YearStart")["DataValue"].sum()

YearStart
2007       35.00
2010     1428.90
2011    32642.12
2012    36343.50
2013    37485.95
2014    30179.30
2015    33465.30
2016    29546.40
Name: DataValue, dtype: float64

In [162]:
ND = grouped_by_abbreviation.get_group("ND")

ND.groupby("YearStart")["DataValue"].sum()

YearStart
2007       21.00
2010     1022.64
2011    23517.17
2012    20840.90
2013    27818.96
2014    26504.60
2015    23688.00
2016    23560.60
Name: DataValue, dtype: float64

In [163]:
OH = grouped_by_abbreviation.get_group("OH")

OH.groupby("YearStart")["DataValue"].sum()

YearStart
2007       11.00
2010     1384.44
2011    29968.20
2012    33649.70
2013    35789.25
2014    31744.60
2015    31111.60
2016    31105.50
Name: DataValue, dtype: float64

In [164]:
OK = grouped_by_abbreviation.get_group("OK")

OK.groupby("YearStart")["DataValue"].sum()

YearStart
2007       16.00
2009      134.50
2010     1380.53
2011    36204.96
2012    35666.10
2013    40195.48
2014    34987.00
2015    36342.10
2016    31882.50
Name: DataValue, dtype: float64

In [165]:
OR = grouped_by_abbreviation.get_group("OR")

OR.groupby("YearStart")["DataValue"].sum()

YearStart
2007       13.00
2009      140.60
2010     1295.77
2011    26060.83
2012    29646.30
2013    27895.70
2014    24876.50
2015    26885.70
2016    24698.50
Name: DataValue, dtype: float64

In [166]:
PA = grouped_by_abbreviation.get_group("PA")

PA.groupby("YearStart")["DataValue"].sum()

YearStart
2007       11.00
2009      155.50
2010     1370.36
2011    30662.47
2012    34332.50
2013    33987.10
2014    29247.50
2015    29893.40
2016    26307.10
Name: DataValue, dtype: float64

In [167]:
RI = grouped_by_abbreviation.get_group("RI")

RI.groupby("YearStart")["DataValue"].sum()

YearStart
2007        9.00
2009      251.60
2010     1201.68
2011    27208.45
2012    24952.60
2013    28959.54
2014    26844.90
2015    30729.60
2016    24875.90
Name: DataValue, dtype: float64

In [168]:
SC = grouped_by_abbreviation.get_group("SC")

SC.groupby("YearStart")["DataValue"].sum()

YearStart
2007       62.00
2010     1298.60
2011    32157.33
2012    32555.60
2013    35919.59
2014    33044.20
2015    35098.80
2016    30121.40
Name: DataValue, dtype: float64

In [169]:
SD = grouped_by_abbreviation.get_group("SD")

SD.groupby("YearStart")["DataValue"].sum()

YearStart
2007       23.00
2010     1012.20
2011    26552.54
2012    29206.40
2013    27257.04
2014    29033.20
2015    26943.60
2016    26843.30
Name: DataValue, dtype: float64

In [170]:
TN = grouped_by_abbreviation.get_group("TN")

TN.groupby("YearStart")["DataValue"].sum()

YearStart
2007       27.00
2010     1353.55
2011    27934.14
2012    29545.50
2013    31332.95
2014    28543.40
2015    32276.70
2016    26596.40
Name: DataValue, dtype: float64

In [171]:
TX = grouped_by_abbreviation.get_group("TX")

TX.groupby("YearStart")["DataValue"].sum()

YearStart
2007       25.00
2010     1437.53
2011    33613.03
2012    31101.60
2013    36138.74
2014    34553.30
2015    35323.20
2016    32746.50
Name: DataValue, dtype: float64

In [172]:
UT = grouped_by_abbreviation.get_group("UT")

UT.groupby("YearStart")["DataValue"].sum()

YearStart
2007       26.00
2009      245.80
2010     1157.25
2011    25621.52
2012    27113.20
2013    25988.30
2014    25436.90
2015    27343.70
2016    23617.30
Name: DataValue, dtype: float64

In [173]:
VT = grouped_by_abbreviation.get_group("VT")

VT.groupby("YearStart")["DataValue"].sum()

YearStart
2007       14.00
2009      159.20
2010     1024.90
2011    22097.33
2012    24462.90
2013    24990.52
2014    22642.70
2015    26077.30
2016    21507.40
Name: DataValue, dtype: float64

In [174]:
VA = grouped_by_abbreviation.get_group("VA")

VA.groupby("YearStart")["DataValue"].sum()

YearStart
2007       34.00
2010     1311.14
2011    26353.15
2012    31632.10
2013    33575.89
2014    32659.30
2015    32437.70
2016    31407.10
Name: DataValue, dtype: float64

In [175]:
WA = grouped_by_abbreviation.get_group("WA")

WA.groupby("YearStart")["DataValue"].sum()

YearStart
2007       12.00
2009      234.50
2010     1356.60
2011    27982.95
2012    29455.20
2013    30815.20
2014    28494.60
2015    37542.90
2016    28305.10
Name: DataValue, dtype: float64

In [176]:
WV = grouped_by_abbreviation.get_group("WV")

WV.groupby("YearStart")["DataValue"].sum()

YearStart
2007       17.00
2009      218.00
2010     1098.15
2011    26975.36
2012    25730.60
2013    29198.68
2014    27258.00
2015    27217.40
2016    24680.90
Name: DataValue, dtype: float64

In [177]:
WI = grouped_by_abbreviation.get_group("WI")

WI.groupby("YearStart")["DataValue"].sum()

YearStart
2007       15.00
2009      255.50
2010     1315.99
2011    27142.03
2012    27880.70
2013    31477.96
2014    26610.70
2015    29983.70
2016    26312.50
Name: DataValue, dtype: float64

In [178]:
WY = grouped_by_abbreviation.get_group("WY")

WY.groupby("YearStart")["DataValue"].sum()

YearStart
2007       23.00
2009      140.40
2010     1028.05
2011    23542.44
2012    23941.30
2013    25653.30
2014    25968.40
2015    25519.10
2016    22558.60
Name: DataValue, dtype: float64

In [179]:
GU = grouped_by_abbreviation.get_group("GU")

GU.groupby("YearStart")["DataValue"].sum()

YearStart
2011    14652.6
2012    16009.2
2013    19540.3
2014    17551.6
2015    18148.2
2016    15657.0
Name: DataValue, dtype: float64

In [180]:
PR = grouped_by_abbreviation.get_group("PR")

PR.groupby("YearStart")["DataValue"].sum()

YearStart
2010      932.6
2011    16477.0
2012    15898.9
2013    18027.7
2014    16683.3
2015    16169.2
2016    15402.8
Name: DataValue, dtype: float64

In [181]:
VI = grouped_by_abbreviation.get_group("VI")

VI.groupby("YearStart")["DataValue"].sum()

YearStart
2010      133.2
2011      140.9
2012      181.5
2013      190.9
2014      179.5
2015      180.2
2016    12146.9
Name: DataValue, dtype: float64