In [2]:
import pandas as pd

In [3]:
csv_path = ("Cleaned_Chronic_Disease_Data4.csv")

csv_df = pd.read_csv(csv_path)
csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,StratificationCategory1,Latitude,Longitude
0,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13.0,Overall,32.840571,-86.631861
1,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,Overall,64.845080,-147.722059
2,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,Overall,34.865970,-111.763811
3,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.0,Overall,34.748650,-92.274491
4,2016,2016,CA,California,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.3,Overall,37.638640,-121.000000

In [4]:
csv_df["DataValueUnit"].value_counts

<bound method IndexOpsMixin.value_counts of 0         %
1         %
2         %
3         %
4         %
5         %
6         %
7         %
8         %
9         %
10        %
11        %
12        %
13        %
14        %
15        %
16        %
17        %
18        %
19        %
20        %
21        %
22        %
23        %
24        %
25        %
26        %
27        %
28        %
29        %
         ..
123322    %
123323    %
123324    %
123325    %
123326    %
123327    %
123328    %
123329    %
123330    %
123331    %
123332    %
123333    %
123334    %
123335    %
123336    %
123337    %
123338    %
123339    %
123340    %
123341    %
123342    %
123343    %
123344    %
123345    %
123346    %
123347    %
123348    %
123349    %
123350    %
123351    %
Name: DataValueUnit, Length: 123352, dtype: object>

In [5]:
#Drop duplicates to confirm there are no multiples by 'YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Topic', 'DataValue'
csv_df.drop_duplicates(subset=['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Topic', 'DataValue' ], keep="first")

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,StratificationCategory1,Latitude,Longitude
0,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13.0,Overall,32.840571,-86.631861
1,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,Overall,64.845080,-147.722059
2,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,Overall,34.865970,-111.763811
3,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.0,Overall,34.748650,-92.274491
4,2016,2016,CA,California,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.3,Overall,37.638640,-121.000000
5,2016,2016,CO,Colorado,Alcohol,Binge drinking prevalence among adults aged >=...,%,19.0,Overall,38.843841,-106.133611
6,2016,2016,CT,Connecticut,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.7,Overall,41.562661,-72.649841
7,2016,2016,DE,Delaware,Alcohol,Binge drinking prevalence among adults aged >=...,%,17.0,Overall,39.008831,-75.577741
8,2016,2016,DC,District of Columbia,Alcohol,Binge drinking prevalence among adults aged >=...,%,25.6,Overall,38.907192,-77.036871
9,2016,2016,FL,Florida,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.5,Overall,28.932040,-81.928961
10,2016,2016,GA,Georgia,Alcohol,Binge drinking prevalence among adults aged >=...,%,13.3,Overall,32.839681,-83.627580
11,2016,2016,HI,Hawaii,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.6,Overall,21.304850,-157.857749
12,2016,2016,ID,Idaho,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.1,Overall,43.682630,-114.363730
13,2016,2016,IL,Illinois,Alcohol,Binge drinking prevalence among adults aged >=...,%,19.9,Overall,40.485010,-88.997710
14,2016,2016,IN,Indiana,Alcohol,Binge drinking prevalence among adults aged >=...,%,17.5,Overall,39.766910,-86.149960
15,2016,2016,IA,Iowa,Alcohol,Binge drinking prevalence among adults aged >=...,%,21.2,Overall,42.469401,-93.816491
16,2016,2016,KS,Kansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.0,Overall,38.347740,-98.200781
17,2016,2016,KY,Kentucky,Alcohol,Binge drinking prevalence among adults aged >=...,%,14.6,Overall,37.645970,-84.774971
18,2016,2016,LA,Louisiana,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.9,Overall,31.312661,-92.445680
19,2016,2016,ME,Maine,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.3,Overall,45.254229,-68.985031
20,2016,2016,MD,Maryland,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.3,Overall,39.290581,-76.609260
21,2016,2016,MA,Massachusetts,Alcohol,Binge drinking prevalence among adults aged >=...,%,17.8,Overall,42.276870,-72.082691
22,2016,2016,MI,Michigan,Alcohol,Binge drinking prevalence among adults aged >=...,%,19.0,Overall,44.661320,-84.714390
23,2016,2016,MN,Minnesota,Alcohol,Binge drinking prevalence among adults aged >=...,%,21.3,Overall,46.355649,-94.794201
24,2016,2016,MS,Mississippi,Alcohol,Binge drinking prevalence among adults aged >=...,%,12.3,Overall,32.745510,-89.538031
25,2016,2016,MO,Missouri,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.4,Overall,38.635791,-92.566300
26,2016,2016,MT,Montana,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.9,Overall,47.066529,-109.424421
27,2016,2016,NE,Nebraska,Alcohol,Binge drinking prevalence among adults aged >=...,%,20.0,Overall,41.641041,-99.365721
28,2016,2016,NV,Nevada,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.8,Overall,39.493240,-117.071841
29,2016,2016,NH,New Hampshire,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.0,Overall,43.655950,-71.500361
...,...,...,...,...,...,...,...,...,...,...,...
123322,2010,2010,MI,Michigan,Overarching Conditions,High school completion among adults aged 18-24...,%,87.3,Gender,44.661320,-84.714390
123323,2010,2010,MN,Minnesota,Overarching Conditions,High school completion among adults aged 18-24...,%,89.6,Gender,46.355649,-94.794201
123324,2010,2010,MO,Missouri,Overarching Conditions,High school completion among adults aged 18-24...,%,86.8,Gender,38.635791,-92.566300
123325,2010,2010,MS,Mississippi,Overarching Conditions,High school completion among adults aged 18-24...,%,84.5,Gender,32.745510,-89.538031
123326,2010,2010,MT,Montana,Overarching Conditions,High school completion among adults aged 18-24...,%,84.4,Gender,47.066529,-109.424421
123327,2010,2010,NC,North Carolina,Overarching Conditions,High school completion among adults aged 18-24...,%,85.5,Gender,35.466221,-79.159250
123328,2010,2010,ND,North Dakota,Overarching Conditions,High school completion among adults aged 18-24...,%,93.4,Gender,47.475320,-100.118421
123329,2010,2010,NE,Nebraska,Overarching Conditions,High school completion among adults aged 18-24...,%,88.7,Gender,41.641041,-99.365721
123330,2010,2010,NH,New Hampshire,Overarching Conditions,High school completion among adults aged 18-24...,%,88.6,Gender,43.655950,-71.500361
123331,2010,2010,NJ,New Jersey,Overarching Conditions,High school completion among adults aged 18-24...,%,89.0,Gender,40.130570,-74.273691
123332,2010,2010,NM,New Mexico,Overarching Conditions,High school completion among adults aged 18-24...,%,81.1,Gender,34.520881,-106.240581
123333,2010,2010,NV,Nevada,Overarching Conditions,High school completion among adults aged 18-24...,%,81.8,Gender,39.493240,-117.071841
123334,2010,2010,NY,New York,Overarching Conditions,High school completion among adults aged 18-24...,%,87.8,Gender,42.827001,-75.543970
123335,2010,2010,OH,Ohio,Overarching Conditions,High school completion among adults aged 18-24...,%,85.8,Gender,40.060210,-82.404260
123336,2010,2010,OK,Oklahoma,Overarching Conditions,High school completion among adults aged 18-24...,%,84.6,Gender,35.472031,-97.521070
123337,2010,2010,OR,Oregon,Overarching Conditions,High school completion among adults aged 18-24...,%,85.6,Gender,44.567449,-120.155031
123338,2010,2010,PA,Pennsylvania,Overarching Conditions,High school completion among adults aged 18-24...,%,88.5,Gender,40.793730,-77.860700
123339,2010,2010,PR,Puerto Rico,Overarching Conditions,High school completion among adults aged 18-24...,%,86.8,Gender,18.220833,-66.590149
123340,2010,2010,RI,Rhode Island,Overarching Conditions,High school completion among adults aged 18-24...,%,90.3,Gender,41.708280,-71.522470
123341,2010,2010,SC,South Carolina,Overarching Conditions,High school completion among adults aged 18-24...,%,83.3,Gender,33.998821,-81.045371
123342,2010,2010,SD,South Dakota,Overarching Conditions,High school completion among adults aged 18-24...,%,84.5,Gender,44.353130,-100.373531
123343,2010,2010,TN,Tennessee,Overarching Conditions,High school completion among adults aged 18-24...,%,86.3,Gender,35.680941,-85.774491
123344,2010,2010,TX,Texas,Overarching Conditions,High school completion among adults aged 18-24...,%,83.1,Gender,31.827240,-99.426770
123345,2010,2010,UT,Utah,Overarching Conditions,High school completion among adults aged 18-24...,%,87.8,Gender,39.360700,-111.587131
123346,2010,2010,VA,Virginia,Overarching Conditions,High school completion among adults aged 18-24...,%,89.5,Gender,37.542681,-78.457890
123347,2010,2010,VT,Vermont,Overarching Conditions,High school completion among adults aged 18-24...,%,94.2,Gender,43.625381,-72.517641
123348,2010,2010,WA,Washington,Overarching Conditions,High school completion among adults aged 18-24...,%,85.4,Gender,47.522279,-120.470011
123349,2010,2010,WI,Wisconsin,Overarching Conditions,High school completion among adults aged 18-24...,%,89.4,Gender,44.393191,-89.816371
123350,2010,2010,WV,West Virginia,Overarching Conditions,High school completion among adults aged 18-24...,%,84.1,Gender,38.665510,-80.712640
123351,2010,2010,WY,Wyoming,Overarching Conditions,High school completion among adults aged 18-24...,%,85.7,Gender,43.235541,-108.109830

In [6]:
# csv_df.count

In [7]:
csv_df["LocationAbbr"].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'GU', 'PR', 'VI'],
      dtype=object)

In [8]:
# csv_df.head()

In [9]:
# csv_df.duplicated()

In [67]:
grouped_by_abbreviation = csv_df.groupby("YearStart")

In [11]:
2012 = grouped_by_abbreviation.get_group("2012")

2012.groupby("LocationAbbr")["DataValue"].sum()

YearStart
2010     1173.40
2011    12900.08
2012    14770.10
2013    17020.17
2014    14917.00
2015    13801.10
2016    12123.60
Name: DataValue, dtype: float64

In [12]:
AL = grouped_by_abbreviation.get_group("AL")

AL.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1351.20
2011    16889.54
2012    16915.10
2013    18410.95
2014    16044.30
2015    17780.30
2016    16503.60
Name: DataValue, dtype: float64

In [13]:
AZ = grouped_by_abbreviation.get_group("AZ")

AZ.groupby("YearStart")["DataValue"].mean()

YearStart
2010    45.486667
2011    41.830512
2012    39.701084
2013    41.870905
2014    41.928105
2015    40.534545
2016    38.897632
Name: DataValue, dtype: float64

In [14]:
AR = grouped_by_abbreviation.get_group("AR")

AR.groupby("YearStart")["DataValue"].sum()

YearStart
2009      216.50
2010     1290.10
2011    15348.56
2012    15889.50
2013    17940.21
2014    15745.60
2015    16250.00
2016    13735.40
Name: DataValue, dtype: float64

In [15]:
CA = grouped_by_abbreviation.get_group("CA")

CA.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1392.70
2011    17621.02
2012    17415.70
2013    17121.60
2014    16632.00
2015    19077.30
2016    16151.90
Name: DataValue, dtype: float64

In [16]:
CO = grouped_by_abbreviation.get_group("CO")

CO.groupby("YearStart")["DataValue"].sum()

YearStart
2009      143.20
2010     1230.80
2011    14934.59
2012    15999.60
2013    17440.50
2014    16934.50
2015    18442.10
2016    15639.70
Name: DataValue, dtype: float64

In [17]:
CT = grouped_by_abbreviation.get_group("CT")

CT.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1320.90
2011    15878.87
2012    17457.50
2013    17991.21
2014    17473.70
2015    18869.20
2016    14927.00
Name: DataValue, dtype: float64

In [18]:
DE = grouped_by_abbreviation.get_group("DE")

DE.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1182.50
2011    15193.37
2012    16275.40
2013    18056.96
2014    17514.40
2015    16399.90
2016    15129.30
Name: DataValue, dtype: float64

In [19]:
DC = grouped_by_abbreviation.get_group("DC")

DC.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1109.50
2011    15046.19
2012    13439.30
2013    16664.26
2014    15045.70
2015    15474.70
2016    13587.60
Name: DataValue, dtype: float64

In [20]:
FL = grouped_by_abbreviation.get_group("FL")

FL.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1368.90
2011    17741.25
2012    15375.70
2013    23561.79
2014    17690.90
2015    18339.00
2016    18693.80
Name: DataValue, dtype: float64

In [21]:
GA = grouped_by_abbreviation.get_group("GA")

GA.groupby("YearStart")["DataValue"].sum()

YearStart
2009      212.10
2010     1325.20
2011    16621.37
2012    16594.20
2013    19668.15
2014    16421.50
2015    17993.60
2016    14960.00
Name: DataValue, dtype: float64

In [22]:
HI = grouped_by_abbreviation.get_group("HI")

HI.groupby("YearStart")["DataValue"].sum()

YearStart
2009      248.00
2010     1166.50
2011    17349.09
2012    17889.60
2013    20561.47
2014    17325.90
2015    20340.70
2016    16396.50
Name: DataValue, dtype: float64

In [23]:
ID = grouped_by_abbreviation.get_group("ID")

ID.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1071.70
2011    12110.01
2012    12766.70
2013    13566.63
2014    12198.40
2015    12869.90
2016    11535.80
Name: DataValue, dtype: float64

In [24]:
IA = grouped_by_abbreviation.get_group("IA")

IA.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1256.00
2011    14217.87
2012    13781.20
2013    15380.90
2014    15457.30
2015    14614.70
2016    13129.70
Name: DataValue, dtype: float64

In [25]:
IN = grouped_by_abbreviation.get_group("IN")

IN.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1329.80
2011    16315.26
2012    15730.70
2013    18208.10
2014    17193.10
2015    16810.10
2016    15014.00
Name: DataValue, dtype: float64

In [26]:
IA = grouped_by_abbreviation.get_group("IA")

IA.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1256.00
2011    14217.87
2012    13781.20
2013    15380.90
2014    15457.30
2015    14614.70
2016    13129.70
Name: DataValue, dtype: float64

In [27]:
KS = grouped_by_abbreviation.get_group("KS")

KS.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1334.30
2011    18171.27
2012    18325.80
2013    20047.18
2014    16980.90
2015    20948.50
2016    15025.00
Name: DataValue, dtype: float64

In [28]:
KY = grouped_by_abbreviation.get_group("KY")

KY.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1253.00
2011    18473.93
2012    18100.10
2013    19126.58
2014    16894.70
2015    18542.80
2016    16673.70
Name: DataValue, dtype: float64

In [29]:
LA = grouped_by_abbreviation.get_group("LA")

LA.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1360.00
2011    17591.46
2012    15425.60
2013    17327.47
2014    17299.90
2015    17430.90
2016    15645.40
Name: DataValue, dtype: float64

In [30]:
ME = grouped_by_abbreviation.get_group("ME")

ME.groupby("YearStart")["DataValue"].sum()

YearStart
2009      153.10
2010     1167.80
2011    15224.57
2012    14341.60
2013    15192.04
2014    14324.10
2015    13765.50
2016    12311.30
Name: DataValue, dtype: float64

In [31]:
MD = grouped_by_abbreviation.get_group("MD")

MD.groupby("YearStart")["DataValue"].sum()

YearStart
2009      153.40
2010     1202.70
2011    14823.04
2012    16487.60
2013    18564.92
2014    17013.90
2015    18388.00
2016    16413.90
Name: DataValue, dtype: float64

In [32]:
MA = grouped_by_abbreviation.get_group("MA")

MA.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1350.40
2011    19533.68
2012    18758.10
2013    21212.78
2014    18554.90
2015    17078.90
2016    16544.80
Name: DataValue, dtype: float64

In [33]:
MI = grouped_by_abbreviation.get_group("MI")

MI.groupby("YearStart")["DataValue"].sum()

YearStart
2009      240.40
2010     1384.70
2011    18012.02
2012    18612.90
2013    18734.11
2014    16652.90
2015    19426.50
2016    17160.00
Name: DataValue, dtype: float64

In [34]:
MN = grouped_by_abbreviation.get_group("MN")

MN.groupby("YearStart")["DataValue"].sum()

YearStart
2009      257.70
2010     1240.80
2011    15947.88
2012    16966.50
2013    18395.60
2014    16340.30
2015    17711.10
2016    15915.00
Name: DataValue, dtype: float64

In [35]:
MS = grouped_by_abbreviation.get_group("MS")

MS.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1322.50
2011    14968.71
2012    15554.80
2013    16509.41
2014    14801.70
2015    15218.50
2016    14596.50
Name: DataValue, dtype: float64

In [36]:
MO = grouped_by_abbreviation.get_group("MO")

MO.groupby("YearStart")["DataValue"].sum()

YearStart
2009      231.90
2010     1324.10
2011    16362.20
2012    15845.90
2013    18489.45
2014    15983.30
2015    17086.20
2016    14882.80
Name: DataValue, dtype: float64

In [37]:
MT = grouped_by_abbreviation.get_group("MT")

MT.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1024.90
2011    15879.08
2012    14505.70
2013    17411.23
2014    14450.60
2015    16536.30
2016    13785.90
Name: DataValue, dtype: float64

In [38]:
NE = grouped_by_abbreviation.get_group("NE")

NE.groupby("YearStart")["DataValue"].sum()

YearStart
2009      152.80
2010     1204.40
2011    17757.20
2012    17885.30
2013    18526.35
2014    18318.20
2015    18369.50
2016    14929.30
Name: DataValue, dtype: float64

In [39]:
NV = grouped_by_abbreviation.get_group("NV")

NV.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1236.00
2011    13545.65
2012    15860.00
2013    17176.28
2014    13664.00
2015    15103.80
2016    13084.50
Name: DataValue, dtype: float64

In [40]:
NH = grouped_by_abbreviation.get_group("NH")

NH.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1020.90
2011    12829.11
2012    12168.20
2013    13456.38
2014    12783.20
2015    14926.00
2016    11598.00
Name: DataValue, dtype: float64

In [41]:
NJ = grouped_by_abbreviation.get_group("NJ")

NJ.groupby("YearStart")["DataValue"].sum()

YearStart
2009      237.70
2010     1334.30
2011    17789.26
2012    18506.80
2013    19452.96
2014    19093.40
2015    19824.60
2016    16685.80
Name: DataValue, dtype: float64

In [42]:
NM = grouped_by_abbreviation.get_group("NM")

NM.groupby("YearStart")["DataValue"].sum()

YearStart
2009      139.60
2010     1261.90
2011    17191.99
2012    17343.80
2013    19200.92
2014    17837.50
2015    18293.30
2016    14391.90
Name: DataValue, dtype: float64

In [43]:
NY = grouped_by_abbreviation.get_group("NY")

NY.groupby("YearStart")["DataValue"].sum()

YearStart
2009      155.00
2010     1367.40
2011    15344.41
2012    15112.00
2013    16870.48
2014    16621.20
2015    20133.20
2016    18721.80
Name: DataValue, dtype: float64

In [44]:
NC = grouped_by_abbreviation.get_group("NC")

NC.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1424.90
2011    18121.42
2012    20028.80
2013    20538.35
2014    16793.70
2015    18648.50
2016    16098.80
Name: DataValue, dtype: float64

In [45]:
ND = grouped_by_abbreviation.get_group("ND")

ND.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1017.30
2011    12862.37
2012    11393.40
2013    15263.86
2014    14605.20
2015    12976.50
2016    12458.80
Name: DataValue, dtype: float64

In [46]:
OH = grouped_by_abbreviation.get_group("OH")

OH.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1377.80
2011    16509.00
2012    18546.00
2013    19915.95
2014    17550.80
2015    17232.80
2016    16857.60
Name: DataValue, dtype: float64

In [47]:
OK = grouped_by_abbreviation.get_group("OK")

OK.groupby("YearStart")["DataValue"].sum()

YearStart
2009      134.50
2010     1376.10
2011    20042.96
2012    19739.90
2013    22394.98
2014    19615.10
2015    20198.00
2016    17411.40
Name: DataValue, dtype: float64

In [48]:
OR = grouped_by_abbreviation.get_group("OR")

OR.groupby("YearStart")["DataValue"].sum()

YearStart
2009      140.60
2010     1288.70
2011    14646.03
2012    16301.90
2013    15536.20
2014    13959.50
2015    14959.20
2016    13396.80
Name: DataValue, dtype: float64

In [49]:
PA = grouped_by_abbreviation.get_group("PA")

PA.groupby("YearStart")["DataValue"].sum()

YearStart
2009      155.50
2010     1364.90
2011    17117.97
2012    18950.70
2013    19130.40
2014    16389.30
2015    16879.30
2016    14659.50
Name: DataValue, dtype: float64

In [50]:
RI = grouped_by_abbreviation.get_group("RI")

RI.groupby("YearStart")["DataValue"].sum()

YearStart
2009      251.60
2010     1196.50
2011    15272.25
2012    13807.00
2013    16277.04
2014    14970.50
2015    16872.10
2016    13292.60
Name: DataValue, dtype: float64

In [51]:
SC = grouped_by_abbreviation.get_group("SC")

SC.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1292.40
2011    17658.13
2012    17858.90
2013    19985.29
2014    18258.40
2015    19497.30
2016    16365.30
Name: DataValue, dtype: float64

In [52]:
SD = grouped_by_abbreviation.get_group("SD")

SD.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1006.30
2011    14601.54
2012    15865.30
2013    14978.24
2014    15613.90
2015    14907.50
2016    14258.60
Name: DataValue, dtype: float64

In [53]:
TN = grouped_by_abbreviation.get_group("TN")

TN.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1347.50
2011    15180.04
2012    16090.70
2013    17454.55
2014    15689.00
2015    17902.30
2016    14332.20
Name: DataValue, dtype: float64

In [54]:
TX = grouped_by_abbreviation.get_group("TX")

TX.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1433.00
2011    18577.03
2012    17345.00
2013    20124.64
2014    19151.10
2015    19445.70
2016    17722.20
Name: DataValue, dtype: float64

In [55]:
UT = grouped_by_abbreviation.get_group("UT")

UT.groupby("YearStart")["DataValue"].sum()

YearStart
2009      245.80
2010     1152.90
2011    14159.52
2012    14727.90
2013    14398.70
2014    14150.20
2015    15066.90
2016    12737.20
Name: DataValue, dtype: float64

In [56]:
VT = grouped_by_abbreviation.get_group("VT")

VT.groupby("YearStart")["DataValue"].sum()

YearStart
2009      159.20
2010     1019.60
2011    12346.03
2012    13007.90
2013    13613.12
2014    12209.90
2015    14231.00
2016    11373.80
Name: DataValue, dtype: float64

In [57]:
VA = grouped_by_abbreviation.get_group("VA")

VA.groupby("YearStart")["DataValue"].sum()

YearStart
2010     1306.80
2011    14709.35
2012    17417.50
2013    18655.79
2014    18180.90
2015    18158.70
2016    17093.10
Name: DataValue, dtype: float64

In [58]:
WA = grouped_by_abbreviation.get_group("WA")

WA.groupby("YearStart")["DataValue"].sum()

YearStart
2009      234.50
2010     1350.20
2011    15733.95
2012    16440.60
2013    17250.30
2014    15893.30
2015    20946.60
2016    15505.00
Name: DataValue, dtype: float64

In [59]:
WV = grouped_by_abbreviation.get_group("WV")

WV.groupby("YearStart")["DataValue"].sum()

YearStart
2009      218.00
2010     1092.80
2011    14761.86
2012    13909.70
2013    15970.68
2014    14868.30
2015    15133.90
2016    13247.90
Name: DataValue, dtype: float64

In [60]:
WI = grouped_by_abbreviation.get_group("WI")

WI.groupby("YearStart")["DataValue"].sum()

YearStart
2009      255.50
2010     1309.80
2011    15065.83
2012    15299.90
2013    17385.16
2014    14983.30
2015    16478.20
2016    14257.20
Name: DataValue, dtype: float64

In [61]:
WY = grouped_by_abbreviation.get_group("WY")

WY.groupby("YearStart")["DataValue"].sum()

YearStart
2009      140.40
2010     1024.70
2011    13080.64
2012    12840.20
2013    14123.50
2014    13963.90
2015    13805.40
2016    11853.10
Name: DataValue, dtype: float64

In [62]:
GU = grouped_by_abbreviation.get_group("GU")

GU.groupby("YearStart")["DataValue"].sum()

YearStart
2011     7867.4
2012     8840.8
2013    10893.4
2014     9753.7
2015    10013.4
2016     8535.6
Name: DataValue, dtype: float64

In [63]:
PR = grouped_by_abbreviation.get_group("PR")

PR.groupby("YearStart")["DataValue"].sum()

YearStart
2010      932.6
2011     9242.3
2012     9032.5
2013    10264.4
2014     9449.8
2015     9315.3
2016     8671.2
Name: DataValue, dtype: float64

In [64]:
VI = grouped_by_abbreviation.get_group("VI")

VI.groupby("YearStart")["DataValue"].sum()

YearStart
2010     133.2
2011     140.9
2012     181.5
2013     190.9
2014     179.5
2015     180.2
2016    6635.1
Name: DataValue, dtype: float64